// .list-group-item{
//     text-align: right;
//     height: 50px;
//     font-size: 18px;
//     border-radius: 0;
//     padding-right: 20px;
//     // background-color: #199B98;
//   }
//   .fullheight{
//     height: unquote("-webkit-calc(100vh - 56px)");
//     max-width: 250px; 
//     background-color: #199B98; 
//     padding-right: 0;

//     position: sticky;
//     top: 56px;

//   }




.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  // background-image: linear-gradient(
  //   to right,
  //   #baf3d7,
  //   #c2f5de,
  //   #cbf7e4,
  //   #d4f8ea,
  //   #ddfaef
  // );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  border-right: 1px solid gray;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-item.active{
  background-color: #199B98 !important;
  border-color: #199B98;
}