<div class="modal fade " id="addCustomerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header base-bg">
          <h5 class="modal-title" id="staticBackdropLabel">Add New Customer</h5>
          <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" formControlName="name">
              <small *ngIf="!addCustomerForm.get('name').valid && addCustomerForm.get('name').touched">
                Please provide a valid name.
              </small>
            </div>
            <div class="mb-3">
                <label for="guardian" class="form-label">Guardian</label>
                <input type="text" class="form-control" name="guardian" formControlName="guardian">
                <small *ngIf="!addCustomerForm.get('guardian').valid && addCustomerForm.get('guardian').touched">
                  Please provide a valid Guardian name.
                </small>
              </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" name="address" formControlName="address">
              <small *ngIf="!addCustomerForm.get('address').valid && addCustomerForm.get('address').touched">
                Please provide a valid Address.
              </small>
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label">Contact</label>
              <input type="number" class="form-control" name="contact" formControlName="contact">
              <small *ngIf="!addCustomerForm.get('contact').valid && addCustomerForm.get('contact').touched">
                Please provide a valid contact number.
              </small>
            </div>
            <div class="mb-3">
              <label for="referredBy" class="form-label">Referred By</label>
              <input type="text" class="form-control" name="referredBy" formControlName="referredBy">
              <small *ngIf="!addCustomerForm.get('referredBy').valid && addCustomerForm.get('referredBy').touched">
                Please provide a valid name.
              </small>
            </div>
            <div class="mb-3">
                <label for="note" class="form-label">Note</label>
                <textarea class="form-control" name="note" formControlName="note"></textarea>
              </div>
            <div class="d-flex flex-row-reverse my-2">
              <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!addCustomerForm.valid">Add</button>
              <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal" #closeButton>Close</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>


  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>