<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 100px;">
            <div class="text-center my-5">
                <h2>lenden</h2>
            </div>
            <div class="card p-4 card-small">
                <form *ngIf="!emailSentFlag" [formGroup]="resetPasswordForm" (ngSubmit)="sendPasswordResetMail()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" formControlName="email">
                        <div id="emailHelp" class="form-text">We'll send a password reset link to your email, do check your spam if its not in your primary mail list.</div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-lenden-primary m-2" [disabled]='!resetPasswordForm.valid'>
                            <div class="spinner-border text-info" role="status" style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Submit
                        </button>
                        <button class="btn btn-secondary m-2" (click)="gotoLogin()">Cancel</button>
                    </div>
                </form>
                <div *ngIf="emailSentFlag">
                    <p>
                        We have sent you a mail, please check and proceed to reset your password. Thank you.
                    </p>
                    <div class="d-flex flex-row-reverse">
                        <a routerLink="/auth" style="color: #036462; font-size: 14px;"><i class="fas fa-arrow-left"></i> Goto Login</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
