<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 200px;">
            <div class="card card-small p-4">
                <div class="card-body border-0">
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                  <div class="mb-3">
                      <label for="password" class="form-label">New Password</label>
                      <input type="password" class="form-control" id="password" name="password" formControlName="password">
                    </div>
                    <div class="mb-3">
                      <label for="confirmPassword" class="form-label">confirmPassword</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                    </div>
                    <div class="mb-3">
                      <button type="button" class="btn btn-outline-dark mx-2">Cancel</button>
                      <button type="submit" class="btn btn-secondary mx-2" [disabled]="!resetPasswordForm.valid">
                        <div class="spinner-border text-info" role="status" style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                          <span class="sr-only">Loading...</span>
                      </div>
                      Submit
                    </button>
                    </div>
              </form>
              <div class="d-flex flex-row-reverse">
                <div>
                  <a routerLink="/auth" style="color: #036462; font-size: 14px;">Back to login?</a>
                </div>
  
                </div>
                  
              </div>
              
          </div>
        </div>
    </div>
</div>