<div class="container">
    <div class="row">
        <!-- <div class="col-12 mt-4">
            <div class="card p-3">
                <h3>Total Customers</h3>
                <h1 class="text-end">231</h1>
            </div>
        </div> -->
        <div class="col-12 col-md-10 mt-5">
            <h1>
                Welcome to Lenden
            </h1>
            <p>The credit management application</p>
            <br>
            <h5>How to use this application?</h5>
            <ol>
                <li>Create your customers from customers tab, use right bottom bubble button to open up the customer add
                    modal.</li>
                <li>View Customer by using the eye button.</li>
                <li>Add Dues or collection taken by customer with related informations.</li>
                <li>Check recent dues and collections from Due and Collection tabs respectively.</li>
                <li>Filter and Check logs of events happening in the system from Logs tab.</li>
                <hr>
                <li>Forgot/reset your password ? proceed from login page, click on forgot password.</li>
                <li>Want to create new account of yours own? click on signup from the login page.</li>
            </ol>
            <br>
            <h6>This is a show case project and I am still working on few things like</h6>
            <ul>
                <li>Error Handeling & Management</li>
                <li>Integration with superAdmin (this appication is supposed to be connected with superAdmin portal,
                    only active users from superAdmin will be allowed to login in lenden platform).</li>
            </ul>

        </div>

    </div>
    
</div>