<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <h5 class="mb-0">All Dues</h5>
            </div>
        </div>
        <div class="col-12 py-2" style="max-height: 77vh; overflow-y: scroll;">
            <div class="card mb-2 p-2 small-shadow" *ngFor="let due of dues">
                <div class="d-flex justify-content-between">
                    <h6>{{due.amount}}</h6>
                    <a type="button" (click)="gotoCustomerDetail(due.customer)">{{due.customer.name}},{{due.customer.address}}</a>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>{{due.takenBy}}</p>
                    </div>
                    <div class="col-3">
                        <p>{{due.date}}</p>
                    </div>
                    <div class="col-6">
                        <p>{{due.note}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 my-5" *ngIf="!duesLoaded">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
            <div class="col-12 mt-2">
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="dueSize*10/limitSize"
                    [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
            </div>
    </div>
</div>

