<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <h5 class="mb-0">All Collections</h5>
            </div>
        </div>
        <div class="col-12 py-2" style="max-height: 77vh; overflow-y: scroll;">
            <div class="card mb-2 p-2 small-shadow" *ngFor="let collection of collections">
                <div class="d-flex justify-content-between">
                    <h6>{{collection.amount}}</h6>
                    <a type="button" (click)="gotoCustomerDetail(collection.customer)">{{collection.customer.name}},{{collection.customer.address}}</a>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>{{collection.submittedBy}}</p>
                    </div>
                    <div class="col-3">
                        <p>{{collection.date}}</p>
                    </div>
                    <div class="col-6">
                        <p>{{collection.note}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 my-5" *ngIf="!collectionsLoaded">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize*10/limitSize"
                [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
        </div>
    </div>
</div>