<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Lenden</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="button" (click)="logout()">logout</button>
        </form>
      </div>
    </div>
  </nav>
  
  <section >
      <div class="row" style="margin-top: 56px;">
        <div class="col fullheight">
          <div class="list-group">
            <a routerLink="/home/dashboard" class="list-group-item list-group-item-action active" aria-current="true">
              <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
            <a routerLink="/home/users" class="list-group-item list-group-item-action">
              <i class="fas fa-users"></i> Users 
            </a>
          </div>
        </div>
        <div class="col">
        <router-outlet></router-outlet>        
        </div>
      </div>
  </section> -->




<div class="d-flex" id="wrapper" [ngClass]="{toggled : menuIsClosed == true}">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 fs-4  text-uppercase border-bottom">Lenden</div>
    <div class="list-group list-group-flush my-3">
      <a routerLink="/home/dashboard" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
      <a routerLink="/home/customers" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-users me-2"></i>Customers</a>
        <a routerLink="/home/customer-detail" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-users-cog me-2"></i>Customers Detail</a>
      <a routerLink="/home/dues" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-money-check-alt me-2"></i>Dues</a>
      <a routerLink="/home/collections" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-funnel-dollar me-2"></i>Collections</a>
        <a routerLink="/home/logs" class="list-group-item list-group-item-action bg-transparent"
        routerLinkActive="active"><i class="fas fa-clipboard-list me-2"></i>Logs</a>
      <button type="button" (click)="logout()"
        class="list-group-item list-group-item-action bg-transparent text-danger  "><i
          class="fas fa-power-off me-2"></i>Logout</button>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-align-left fs-4 me-3" id="menu-toggle" (click)="menuIsClosed=!menuIsClosed;"></i>
      </div>

      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <button class="btn btn-outline-success" type="button" (click)="logout()">logout</button>

        </form>
      </div> -->
    </nav>

    <div class="container-fluid px-4">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->