.dropdown-toggle::after{
    display: none;
}

.dropdown-menu.show{
    top: -2px !important;
    left: -30px !important;
    padding: 2px !important;
    width: auto !important;
}
.dropdown-menu{
    min-width: unset;
}
.dropdown-item{
    width: auto;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

.mini-btn-danger {
    // color: #fff !important;
    // background-color: #dc3545 !important;
    // border-color: #dc3545 !important;
    color: #dc3545;
    padding-left: 2px;
    padding-right: 2px;
}
.mini-btn-secondary {
    // color: #fff !important;
    // background-color: #6c757d !important;
    // border-color: #6c757d !important;
    color: gray !important;
    padding-left: 2px;
    padding-right: 2px;
}



.offcanvas-header {
    background: #1b9b98;
    color: white;
}

.interest-bubble{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    background: #1b9b98b0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}