<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <a routerLink="/home/customers"><i class="fas fa-long-arrow-alt-left" style="font-size: 14px;"></i>
                Customers List</a>
        </div>
        <div class="col-12 col-md-9">
            <div class="row">
                <!-- <div class="col-12 col-md-6">
                    <div class="p-2 text-end">By Name, Place, Contact:</div>
                </div> -->
                <div class="col-12">
                    <div class="p-2" style="width: 400px; max-width: 100%; float: right;">
                        <label for="customers">By Name, Place, Contact:</label>
                        <ng-select [items]="customers" bindLabel="bindLabel" [(ngModel)]="selectedCustomer"
                            (change)="searchCustomer()" placeholder="{{selectedCustomer.name}}">
                            <!-- <ng-select [items]="customers" bindValue="id" bindLabel="bindLabel"
                            (search)="searchCustomer()" [(ngModel)]='selectedCustomer'>-->
                        </ng-select> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="card" *ngIf="selectedCustomer.id">
                <div class="card-header p-3">
                    <div class="row">
                        <div class="col-4">
                            <h4>{{selectedCustomer.name}}</h4>
                        </div>
                        <div class="col-4">{{selectedCustomer.guardian}}</div>
                        <div class="col-4">{{selectedCustomer.address}}</div>
                        <div class="col-4">{{selectedCustomer.contact}}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <h6>Dues ({{dues.length}})</h6>
                                <button class="btn btn-sm btn-lenden-primary" data-bs-toggle="modal"
                                    data-bs-target="#addDue"> <i class="fas fa-plus"></i> Add</button>
                            </div>
                            <div class="mt-4" style="max-height: 56vh; overflow: scroll; padding: 4px;">
                                <div class="card small-shadow mb-2" *ngFor="let due of dues">
                                    <div class="interest-bubble">{{due.totalAmount}} @{{due.interestRate}}</div>
                                    <div class="card-body border-0">
                                        <div class="d-flex justify-content-between">
                                            <div>{{due.date}}</div>
                                            <h5>{{due.amount}}/</h5>
                                            
                                        </div>
                                        <p class="m-0">By: {{due.takenBy}}</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="m-0">{{due.note}}</p>
                                            <!-- <i class="fas fa-ellipsis-v"></i> -->

                                            <div ngbDropdown>
                                                <button class="btn btn-lenden-primary" ngbDropdownToggle> <i
                                                        class="fas fa-ellipsis-v"></i></button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="d-flex flex-row bd-highlight">
                                                        <button ngbDropdownItem class="mini-btn-danger mx-2"
                                                            type="button" (click)="deleteDue(due.id)"><i
                                                                class="fas fa-trash"></i></button>
                                                        <button ngbDropdownItem class="mini-btn-secondary mx-2"
                                                            type="button" data-bs-toggle="offcanvas"
                                                            data-bs-target="#editDueCanvas"
                                                            aria-controls="editDueCanvas"
                                                            (click)="setEditableDue(due)"><i
                                                                class="fas fa-edit"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center pt-5 my-5" *ngIf="!duesLoaded">
                                    <div class="spinner-border text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <h6>Collections ({{collections.length}})</h6>
                                <button class="btn btn-sm btn-lenden-primary" data-bs-toggle="modal"
                                    data-bs-target="#addCollection"> <i class="fas fa-plus"></i> Add</button>
                            </div>
                            <div class="mt-4" style="max-height: 56vh; overflow: scroll; padding: 4px;">
                                <div class="card small-shadow mb-2" *ngFor="let collection of collections;">
                                    <div class="interest-bubble">{{collection.totalAmount}} @{{collection.interestRate}}</div>
                                    <div class="card-body border-0">
                                        <div class="d-flex justify-content-between">
                                            <p>{{collection.submittedBy}}</p>
                                            <div>{{collection.date}}</div>
                                            <h5>{{collection.amount}}/</h5>
                                            <div ngbDropdown>
                                                <button class="btn btn-lenden-primary" ngbDropdownToggle> <i
                                                        class="fas fa-ellipsis-v"></i></button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="d-flex flex-row bd-highlight">
                                                        <button ngbDropdownItem class="mini-btn-danger mx-2"
                                                            type="button" (click)="deleteCollection(collection.id)"><i
                                                                class="fas fa-trash"></i></button>
                                                        <button ngbDropdownItem class=" mini-btn-secondary mx-2"
                                                            type="button" (click)="setEditableCollection(collection)">
                                                            <i class="fas fa-edit"
                                                                data-bs-toggle="offcanvas"
                                                                data-bs-target="#editCollectionCanvas"
                                                                aria-controls="editCollectionCanvas"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center pt-5 my-5" *ngIf="!collectionsLoaded">
                                    <div class="spinner-border text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <h6>Calculations</h6>
                            </div>
                            <div class="p-4" *ngIf="collectionsLoaded && duesLoaded">
                                <div class="d-flex justify-content-between">
                                    <p>Total Dues</p>
                                    <h6>{{totalDues}}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Total Dues Interest</p>
                                    <h6>{{totalDueInterest.toFixed(0)}}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Total Collections</p>
                                    <h6>-{{totalCollections}}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Total Collections Interest</p>
                                    <h6>-{{totalCollectionInterest.toFixed(0)}}</h6>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <p>Total Due Remaining</p>
                                    <h6>{{(totalDues-totalCollections+totalDueInterest-totalCollectionInterest).toFixed(0)}}</h6>
                                </div>
                            </div>
                            <div class="text-center pt-5 my-5" *ngIf="!collectionsLoaded && !duesLoaded">
                                <div class="spinner-border text-info" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5" *ngIf="!selectedCustomer.id">
                <h5>
                    Please select a customer first...
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="editCollectionCanvas" aria-labelledby="Edit Collection">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Edit Collection</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            #editCollectionCanvasClose></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="updateCollectionForm" (ngSubmit)="updateCollection()">
            <div class="row">
                <input type="hidden" formControlName="id" name="id">
                <div class="mb-3 col-12 col-md-8">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" name="amount" formControlName="amount">
                </div>
                <div class="mb-3 col-12 col-md-4">
                    <label for="rate" class="form-label">Interest Rate</label>
                    <input type="number" class="form-control" name="rate" placeholder="0" formControlName="interestRate">
                  </div>
                  <div class="mb-3 col-12 col-md-6">
                    <label for="collectionDate" class="form-label">Date</label>
                    <input type="date" class="form-control" name="startingDate" ngModel formControlName="startingDate">
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label for="submittedBy" class="form-label">Submitted by</label>
                    <input type="text" class="form-control" name="submittedBy" formControlName="submittedBy">
                </div>
                <div class="mb-3 col-12">
                    <label for="associatedTo" class="form-label">Associated To</label>
                    <select class="form-select" name="associatedTo" formControlName="associatedTo">
                        <option value="{{due.id}}" *ngFor="let due of dues">{{due.amount}}, {{due.takenBy}}, {{due.date}}
                        </option>
                    </select>
                </div>
                <div class="mb-3 col-12">
                    <label for="remarks" class="form-label">Remarks</label>
                    <textarea class="form-control" placeholder="Customer Remarks" name="remarks" formControlName="remarks"></textarea>
                </div>
            </div>
            
            <div class="d-flex flex-row-reverse my-2">
                <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!updateCollectionForm.valid">Update</button>
                <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="offcanvas"
                    aria-label="Close">Close</button>
            </div>

        </form>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="editDueCanvas" aria-labelledby="Edit Due">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Edit Due</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            #editDueCanvasClose></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="updateDueForm" (ngSubmit)="udpateDue()">
            <div class="row">
                <input type="hidden" formControlName="id" name="id">
                <div class="mb-3 col-12 col-md-8">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" name="amount" formControlName="amount">
                    <small *ngIf="!updateDueForm.get('amount').valid && updateDueForm.get('amount').touched">Please provide a valid amount.</small>
                </div>
                <div class="mb-3 col-12 col-md-4">
                    <label for="rate" class="form-label">Interest Rate</label>
                    <input type="number" class="form-control" name="rate" placeholder="0" formControlName="rate">
                    <small *ngIf="!updateDueForm.get('rate').valid && updateDueForm.get('rate').touched">Please provide a valid amount.</small>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label for="startingDate" class="form-label">Date</label>
                    <input type="date" class="form-control" name="startingDate" formControlName="startingDate">
                    <small *ngIf="!updateDueForm.get('startingDate').valid && updateDueForm.get('startingDate').touched">Please provide a valid date.</small>
                </div>
                <div class="mb-3col-12 col-md-6">
                    <label for="completionDate" class="form-label">Completion Date</label>
                    <input type="date" class="form-control" name="completionDate" placeholder="2021/12/12"
                    formControlName="completionDate">
                    <small *ngIf="!updateDueForm.get('completionDate').valid && updateDueForm.get('completionDate').touched">Please provide a valid date.</small>
                </div>
                <div class="mb-3col-12">
                    <label for="takenBy" class="form-label">Taken by</label>
                    <input type="text" class="form-control" name="takenBy" formControlName="takenBy">
                    <small *ngIf="!updateDueForm.get('takenBy').valid && updateDueForm.get('takenBy').touched">Please provide a valid name.</small>
                </div>
                <div class="mb-3col-12">
                    <label for="remarks" class="form-label">Remarks</label>
                    <textarea class="form-control" placeholder="Customer Remarks" name="remarks" formControlName="remarks"></textarea>
                </div>
            </div>


            <div class="d-flex flex-row-reverse my-2">
                <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!updateDueForm.valid">Update</button>
                <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="offcanvas"
                    aria-label="Close">Close</button>
            </div>

        </form>
    </div>
</div>











<app-add-due-modal [selectedCustomer]='selectedCustomer' (dueAddedEvent)="dueAddedEvent($event)"></app-add-due-modal>
<app-add-collection-modal [selectedCustomer]='selectedCustomer' (collectionAddedEvent)="collectionAddedEvent($event)">
</app-add-collection-modal>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>