<div class="container">
    <div class="row my-5">
        <div class="col-6 offset-3 mt-5">
          <h2 class="text-center" style="font-weight: lighter; letter-spacing: 2px;">
            Lenden Super Admin Panel
          </h2>
          <br>
            <div class="card p-4">
              <div class="card-body">
                <form action="" #authForm="ngForm" (ngSubmit)="login(authForm)">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" ngModel placeholder="name@example.com" required email>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ngModel placeholder="**********" required minlength="4">
                  </div>
                  <div class="mb-3">
                    <button type="button" class="btn btn-outline-dark mx-2">Cancel</button>
                    <button type="submit" class="btn btn-secondary mx-2" [disabled]="!authForm.valid">Login</button>
                  </div>
            </form>
              </div>
                
            </div>
            
        </div>
    </div>
</div>
