<div class="modal fade " id="addDue" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header base-bg">
          <h5 class="modal-title" id="staticBackdropLabel">Add New Due</h5>
          <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form [formGroup]="addDueForm" (ngSubmit)="addDue()">
            <div class="row">
              <div class="mb-3 col-12 col-md-8">
                <label for="amount" class="form-label">Amount</label>
                <input type="text" class="form-control" name="amount" formControlName="amount">
                <small *ngIf="!addDueForm.get('amount').valid && addDueForm.get('amount').touched">Please provide a valid amount.</small>
              </div>
              <div class="mb-3 col-12 col-md-4">
                <label for="rate" class="form-label">Interest Rate</label>
                <input type="number" class="form-control" name="rate" placeholder="0" formControlName="rate">
                <small *ngIf="!addDueForm.get('rate').valid && addDueForm.get('rate').touched">Please provide a valid rate.</small>
              </div>
              <div class="mb-3 col-12 col-md-6">
                <label for="startingDate" class="form-label">Date</label>
                <input type="date" class="form-control" name="startingDate" formControlName="startingDate">
                <small *ngIf="!addDueForm.get('startingDate').valid && addDueForm.get('startingDate').touched">Please provide a valid date.</small>
              </div>
              <div class="mb-3 col-12 col-md-6">
                <label for="completionDate" class="form-label">Completion Date</label>
                <input type="date" class="form-control" name="endsBy" formControlName="endsBy" placeholder="2021/12/12">
                <small *ngIf="!addDueForm.get('endsBy').valid && addDueForm.get('endsBy').touched">Please provide a valid date.</small>
              </div>
              <div class="mb-3 col-12">
                <label for="takenBy" class="form-label">Taken by</label>
                <input type="text" class="form-control" name="takenBy" formControlName="takenBy">
                <small *ngIf="!addDueForm.get('takenBy').valid && addDueForm.get('takenBy').touched">Please provide a valid name.</small>
              </div>
              <div class="mb-3 col-12">
                <label for="remarks" class="form-label">Remarks</label>
                <textarea class="form-control" placeholder="Customer Remarks" name="remarks" formControlName="remarks"></textarea>
                
              </div>
            </div>
            <div class="d-flex flex-row-reverse my-2">
              <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!addDueForm.valid">Add</button>
              <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal" #closeButton>Close</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>