.modal-header, .modal-footer{
    background-color: #199B98;
    padding: 6px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px !important;
}
.modal-footer{
    background-color: white;
    border-top: 1px solid gray;
}
.modal-content{
    border: 0;
}
.modal-title{
    font-size: 16px;
}