<div class="modal fade " id="addCollection" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header base-bg">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Collection</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="addCollectionForm" (ngSubmit)="addCollection();">
                    <div class="row">
                        <div class="mb-3 col-12 col-md-8">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="text" class="form-control" name="amount" formControlName="amount">
                            <small *ngIf="!addCollectionForm.get('amount').valid && addCollectionForm.get('amount').touched">Please provide a valid amount.</small>
                        </div>
                        <div class="mb-3 col-12 col-md-4">
                            <label for="rate" class="form-label">Interest Rate</label>
                            <input type="number" class="form-control" name="rate" placeholder="0" formControlName="rate">
                            <small *ngIf="!addCollectionForm.get('rate').valid && addCollectionForm.get('rate').touched">Please provide a valid rate.</small>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="collectionDate" class="form-label">Date</label>
                            <input type="date" class="form-control" name="startingDate" formControlName="startingDate">
                            <small *ngIf="!addCollectionForm.get('startingDate').valid && addCollectionForm.get('startingDate').touched">Please provide a valid date.</small>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="submittedBy" class="form-label">Submitted by</label>
                            <input type="text" class="form-control" name="submittedBy" formControlName="submittedBy">
                            <small *ngIf="!addCollectionForm.get('submittedBy').valid && addCollectionForm.get('submittedBy').touched">Please provide a valid date.</small>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="associatedTo" class="form-label">Associated To</label>
                            <select class="form-select" name="associatedTo" formControlName="associatedTo">
                                <option value="{{due.id}}" *ngFor="let due of dues">{{due.amount}}, {{due.takenBy}},
                                    {{due.date}}</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="remarks" class="form-label">Remarks</label>
                            <textarea class="form-control" placeholder="Customer Remarks" name="remarks"
                            formoControlName="remarks"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse my-2">
                        <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!addCollectionForm.valid">Add</button>
                        <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal"
                            #closeButton>Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>