<div *ngIf="!editUserFlag">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>
          All Users
        </h3>
        <br>
      </div>
    </div>
  </div>
  <div class="container" style="height: 80vh;
  overflow: scroll;
  border: 1px solid black;">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight my-2">
            <button type="button" class="btn btn-lenden-primary" data-bs-toggle="modal"
              data-bs-target="#addUser">Add</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr style="background-color: #199B98; color: white;">
              <th scope="col">S.No.</th>
              <th scope="col">Shop Name</th>
              <th scope="col">Name</th>
              <th scope="col">Started On</th>
              <th scope="col">Ends By</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <th>{{i+1}}</th>
              <td>{{user.shopName}}</td>
              <td>{{user.name}}</td>
              <td>{{user.startingDate}}</td>
              <td>{{user.endsBy}}</td>
              <td>
                <button type="button" class="btn btn-success btn-sm mx-1" (click)="selectUserToEdit(user)"><i
                    class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm mx-1" (click)="deleteUser(user.id)"><i
                    class="fas fa-trash"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-add-user></app-add-user>

</div>
<div *ngIf="editUserFlag">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>
          <button type="button" class="btn btn-outline-lenden-primary mx-1 border-0 btn-sm px-3 pt-2"
            (click)="editUserFlag=false;"><i class="fas fa-long-arrow-alt-left"
              style="font-size: 32px; line-height: 0.8;"></i> </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-8">
        <div class="card">
          <div class="card-header text-bold">
            Edit User
          </div>
          <div class="card-body">
            <form action="" #addUserForm="ngForm" (ngSubmit)="editUser(addUserForm)">
              <input type="hidden" ngModel name='id' [(ngModel)]="editableUser.id">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" ngModel placeholder="John Anderson"
                  [(ngModel)]="editableUser.name">
              </div>
              <div class="mb-3">
                <label for="shopName" class="form-label">Shop Name</label>
                <input type="text" class="form-control" name="shopName" ngModel placeholder="abcd trading"
                  [(ngModel)]="editableUser.shopName">
              </div>
              <div class="mb-3">
                <label for="startingDate" class="form-label">Starting Date</label>
                <input type="date" class="form-control" name="startingDate" ngModel placeholder="2020/12/12"
                  [(ngModel)]="editableUser.startingDate">
              </div>
              <div class="mb-3">
                <label for="endsBy" class="form-label">Ends By</label>
                <input type="date" class="form-control" name="endsBy" ngModel placeholder="2021/12/12"
                  [(ngModel)]="editableUser.endsBy">
              </div>
              <div class="d-flex flex-row-reverse bd-highlight">
                <button type="button" class="btn btn-secondary mx-1" (click)="editUserFlag=false;">Close</button>
                <button type="submit" class="btn btn-lenden-primary mx-1">update</button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>