// li{
//     border-radius: 0;
// }
// .page-item.active .page-link{
//     background-color: #1b9b98;
//     border-color: #1b9b98;
// }

ngb-pagination li {
    border-radius: 0;
    &.page-item.active .page-link{
        background-color: #1b9b98;
        border-color: #1b9b98;
    }
    // &:first-child a {
    //   span {
    //     display: none;
    //   }
    //   &:before {
    //     /* provide your content here */
    //   }
    // }
  }