<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <div class="row">
                    <h5>Find Logs</h5>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-6 mb-1">
                                <label for="fromDate"> From </label>
                                <input type="date" class="form-control" [(ngModel)]="fromDate">
                            </div>
                            <div class="col-6 mb-1">
                                <label for="toDate">To Date</label>
                                <input type="date" class="form-control" [(ngModel)]="toDate">
                            </div>
                        </div>


                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-light mt-4" (click)="getLogSize()">Search</button>
                            </div>
                            <div class="col-8">
                                <!-- <label for="customr">select Customer</label>
                        <ng-select [items]="customers" bindLabel="bindLabel" [(ngModel)]="selectedCustomer"
                            (change)="searchLogs()" placeholder="{{selectedCustomer.name}}">
                        </ng-select> -->
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div style="max-height: 70vh; overflow-y: scroll; font-family: monospace;">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Event</th>
                            <th scope="col">Date</th>
                            <th scope="col">Customer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of logs; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td [innerHTML]='log.eventName'></td>
                            <td>{{log.createdAt}}</td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm m-1"
                                    (click)="viewCustomer(log.customerId)" *ngIf="log.customerId">
                                    {{log.customerId}}</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center pt-5 my-5" *ngIf="!logsLoaded">
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pageSize*10/limitSize"
                        [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>