<div class="modal fade " id="addUser" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header base-bg">
        <h5 class="modal-title" id="staticBackdropLabel">Add User</h5>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="" #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm)">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" ngModel placeholder="John Anderson" [(ngModel)]="name">
          </div>
          <div class="mb-3">
            <label for="shopName" class="form-label">Shop Name</label>
            <input type="text" class="form-control" name="shopName" ngModel placeholder="abcd trading">
          </div>
          <div class="mb-3">
            <label for="startingDate" class="form-label">Starting Date</label>
            <input type="date" class="form-control" name="startingDate" ngModel [value]="{startingDate}">
          </div>
          <div class="mb-3">
            <label for="endsBy" class="form-label">Ends By</label>
            <input type="date" class="form-control" name="endsBy" ngModel placeholder="2021/12/12">
          </div>
          <div class="d-flex flex-row-reverse my-2">
            <button type="submit" class="btn btn-lenden-primary mx-1">Add</button>
            <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal" #closeButton>Close</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>