/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

button{
    border-radius: 0 !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.3rem !important;
}
.modal-content{
    border-radius: 0;
    border: 0;
}
.base-bg{
    background-color: #199B98;
}
.base-text{
    color: #199B98;
}
.modal-header{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
    color: white;
}
.modal-footer{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    color: white;
}

.card{
    border-radius: 0;
    border: 0;
    
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0px 0px 25px 0px #1b9b98;
}
.card-header{
    background-color: rgb(27 155 152);
    color: white;
    border-bottom: 1px solid rgb(27 155 152);
    border-radius: 0 !important;
}
.card-body{
    border: 1px solid rgb(27 155 152);
}

.btn:hover{
    box-shadow: 1px 1px 4px 0px #83b1b0;
}

.btn-lenden-primary{
    background-color: #199B98;
    border-color: #199B98;
    color: white;

}
.btn-lenden-primary:hover{
    background-color: #098886;
    border-color: #098886;
    color: white;
    box-shadow: 1px 1px 4px 0px #83b1b0;
}

.btn-outline-lenden-primary{
    background-color: transparent;
    border-color: #199B98;

}
.btn-outline-lenden-primary:hover{
    background-color: #098886;
    border-color: #098886;
    color: white;
    box-shadow: 1px 1px 4px 0px #83b1b0;
}

.form-control{
    border-radius: 0 !important;
}


