<div class="container">
    <div class="row my-5">
        <div class="col-12 col-md-6 offset-0 offset-md-3 mt-5">
          <h2 class="text-center" style="font-weight: lighter; letter-spacing: 2px;">
            Lenden
          </h2>
          <br>
            <div class="card card-small p-4">
              <div class="card-body">
                <form (ngSubmit)="login()" [formGroup]='authForm'>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" formControlName="username"  placeholder="name@example.com">
                    <small 
                    *ngIf="!authForm.get('username').valid && authForm.get('username').touched"
                    class="help-block">Please enter a valid username.</small>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" formControlName="password"  placeholder="**********"  minlength="4">
                  </div>
                  <div class="mb-3">
                    <button type="button" class="btn btn-outline-dark mx-2">Cancel</button>
                    <button type="submit" class="btn btn-secondary mx-2" [disabled]="!authForm.valid">
                      <div class="spinner-border text-info" role="status" style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Login
                  </button>
                  </div>
            </form>
            <div class="d-flex justify-content-between">
                <a routerLink="/auth/signup" style="color: #036462; font-size: 12px;">New User, Sign up?</a>
                <a routerLink="/auth/passwordReset" style="color: #036462; font-size: 12px;">Forgot Password?</a>

              </div>
                
            </div>
            
        </div>
    </div>
</div>
