<div class="container">
    <div class="row">
        <div class="col-4 mt-4">
            <div class="card p-3">
                <h3>Total Customers</h3>
                <h1 class="text-end">231</h1>
            </div>
        </div>
        <div class="col-4 mt-4">
            <div class="card p-3">
                <h3>Total Customers</h3>
                <h1 class="text-end">231</h1>
            </div>
        </div>
        <div class="col-4 mt-4">
            <div class="card p-3">
                <h3>Total Customers</h3>
                <h1 class="text-end">231</h1>
            </div>
        </div>
        <div class="col-4 mt-4">
            <div class="card p-3">
                <h3>Total Customers</h3>
                <h1 class="text-end">231</h1>
            </div>
        </div>
    </div>
</div>