.customer-table th, .customer-table tr{
    text-align: center;
    font-weight: normal;
}
.btn-circle.btn-sm {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 32px !important;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 24px;
}
.tooltip .tooltip-inner, .tooltip .arrow::before{
    background: rgba(255, 255, 255, 0.671);
}

.offcanvas-header{
    background: #1b9b98;
    color: white;
}