<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Filters
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-end">By Name: </div>
                        <div class="col-6">
                            <input type="text" class="w-100" [(ngModel)]="searchCustomerString">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-lenden-primary" (click)="getCustomers()">Search</button>
                        </div>
                        <!-- <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Show Clear Customer
                                </label>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">S. No.</h6>
                        <h6 class="mb-0">Name</h6>
                        <h6 class="mb-0">Total Due</h6>
                        <h6 class="mb-0">First Due On</h6>
                        <h6 class="mb-0">Due Completion Date</h6>
                        <h6 class="mb-0">Actions</h6>
                    </div>
                </div>
                <div class="card-body p-0" style="height: 68vh; overflow: scroll;">
                    <table class="table customer-table" *ngIf="customers.length">
                        <tbody>
                            <tr *ngFor="let customer of customers; let i = index;">
                                <th>{{i+1}}</th>
                                <td>
                                    <div placement="right" tooltipClass="tooltip"
                                        ngbTooltip="{{customer.address}}, {{customer.contact}}">{{customer.name}}</div>
                                </td>
                                <td>{{(customer.dues.length>0)? customer.dues[0].totalDues: '-'}}</td>
                                <td>{{(customer.dues.length>0)? customer.dues[0].date: '-'}}</td>
                                <td>{{(customer.dues.length>0)? customer.dues[0].promisedPaymentDate: '-'}}</td>
                                <td>
                                    <button type="button" class="btn btn-lenden-primary btn-sm m-1"
                                        data-bs-toggle="offcanvas" data-bs-target="#editCustomerCanvas"
                                        aria-controls="editCustomerCanvas" (click)="setUpdatableCustomer(customer)"><i
                                            class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm m-1" (click)="deleteCustomer(customer.id)"><i
                                            class="fas fa-trash" ></i></button>
                                    <button type="button" class="btn btn-secondary btn-sm m-1" (click)="viewCustomer(customer)"><i
                                            class="fas fa-eye"></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center pt-5" *ngIf="!customers.length && isCustomerLoaded">
                        <h5 class="mt-5 pt-5">No customer found matching the given search.</h5>
                    </div>
                    <div class="text-center pt-5 mt-5" *ngIf="!customers.length && !isCustomerLoaded">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-lenden-primary btn-circle btn-sm"><i class="fas fa-plus"
                            data-bs-toggle="modal" data-bs-target="#addCustomerModal"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="editCustomerCanvas" aria-labelledby="Edit Customer">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Edit Customer</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            #editCustomerCanvasClose></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="updateCustomerForm" (ngSubmit)="updateCustomer()">
            <input type="hidden" name="id" >
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name" >
                <small *ngIf="!updateCustomerForm.get('name').valid && updateCustomerForm.get('name').touched">Please provide valid name.</small>
            </div>
            <div class="mb-3">
                <label for="guardian" class="form-label">Guardian</label>
                <input type="text" class="form-control" name="guardian" formControlName="guardian" >
                <small *ngIf="!updateCustomerForm.get('guardian').valid && updateCustomerForm.get('guardian').touched">Please provide valid name.</small>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" formControlName="address" >
                <small *ngIf="!updateCustomerForm.get('address').valid && updateCustomerForm.get('address').touched">Please provide valid address.</small>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Contact</label>
                <input type="number" class="form-control" name="contact" formControlName="contact" >
                <small *ngIf="!updateCustomerForm.get('contact').valid && updateCustomerForm.get('contact').touched">Please provide valid contact number.</small>
            </div>
            <div class="mb-3">
                <label for="referredBy" class="form-label">Referred By</label>
                <input type="text" class="form-control" name="referredBy" formControlName="referredBy">
            </div>
            <div class="mb-3">
                <label for="note" class="form-label">Note</label>
                <textarea class="form-control" name="note" formControlName="note"></textarea>
            </div>
            <div class="d-flex flex-row-reverse my-2">
                <button type="submit" class="btn btn-lenden-primary mx-1" [disabled]="!updateCustomerForm.valid">Update</button>
                <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="offcanvas"
                    aria-label="Close">Close</button>
            </div>

        </form>
    </div>
</div>


<app-add-customer-modal (customerAddedEvent)="customerAddedEvent($event)"></app-add-customer-modal>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
